@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../code/img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 10vw -22%;
}

#mobiNavbar{
    background-color: white;
   /* position: fixed; */
}
@media (min-width: 768px){
     #mobiNavbar{
        display: none;
     }
     #mobiNavbarToggle{
        display: none;
     }  
     
}